ul li{list-style: none;}
.requiredred{color: red; font-style:normal;}
.show-img-div{float: left;}
.input-zdy{padding: 6px 12px; border-radius: 3px; border: 1px solid #e2e2e2;}
.input-zdy-width{width: 120px !important;}
.input-zdy-width-3{width: 280px !important;}
.input-float-left{float: left;}
.border-none{border: 1px solid #ffffff}
.li-hight{line-height: 2}
.select-zdy{width: 150px; height: 32px; margin-top: 3px; border-radius: 2px; border:1px solid #e2e2e2;}
.refresh-page{border:1px solid #ffffff; padding: 3px;}
.refresh-page:hover{border-radius: 2px; border:1px solid #e2e2e2;}
/*加载动画*/
.loading{width: 80px; height: 40px; margin: 0 auto; margin-top:100px;}
.loading2{margin-top:10px; margin-bottom: 20px}
.loading span{display: inline-block; width: 8px; height: 100%; border-radius: 4px; background: lightgreen; -webkit-animation: load 1s ease infinite;}
@-webkit-keyframes load{0%,100%{height: 40px; background: lightgreen;} 50%{height: 70px; margin: -15px 0; background: lightblue;} }
.loading span:nth-child(2){-webkit-animation-delay:0.2s;}
.loading span:nth-child(3){-webkit-animation-delay:0.4s;}
.loading span:nth-child(4){-webkit-animation-delay:0.6s;}
.loading span:nth-child(5){-webkit-animation-delay:0.8s;}
/*加载动画*/
.loadEffect{
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    margin-top:100px;
}
.loadEffect span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: lightgreen;
    position: absolute;
    -webkit-animation: loadef 1.04s ease infinite;
}
@-webkit-keyframes loadef{
    0%{
        -webkit-transform: scale(1.2);
        opacity: 1;
    }
    100%{
        -webkit-transform: scale(.3);
        opacity: 0.5;
    }
}
.loadEffect span:nth-child(1){
    left: 0;
    top: 50%;
    margin-top:-10px;
    -webkit-animation-delay:0.13s;
}
.loadEffect span:nth-child(2){
    left: 14px;
    top: 14px;
    -webkit-animation-delay:0.26s;
}
.loadEffect span:nth-child(3){
    left: 50%;
    top: 0;
    margin-left: -10px;
    -webkit-animation-delay:0.39s;
}
.loadEffect span:nth-child(4){
    top: 14px;
    right:14px;
    -webkit-animation-delay:0.52s;
}
.loadEffect span:nth-child(5){
    right: 0;
    top: 50%;
    margin-top:-10px;
    -webkit-animation-delay:0.65s;
}
.loadEffect span:nth-child(6){
    right: 14px;
    bottom:14px;
    -webkit-animation-delay:0.78s;
}
.loadEffect span:nth-child(7){
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    -webkit-animation-delay:0.91s;
}
.loadEffect span:nth-child(8){
    bottom: 14px;
    left: 14px;
    -webkit-animation-delay:1.04s;
}
.err_mes{padding: 0;  height: 300px;  overflow: scroll;}
.hide-scroll{overflow: hidden;}
.err_mes li{text-align:center;width:40%;float:left;color:red;opacity:.8;border-bottom:1px solid #d43f3a;margin:0 5%;}
.model-mask{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000;opacity:.5;}
.model_context{width:650px;height:500px;background-color:#fff;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;border-radius:5px;-webkit-overflow-scrolling:touch;outline:0;margin:auto;}
.box-hide{display:none;}.box-show{display:block;}
.model-Exhibition{padding-top:5px;height:500px;width:100%;overflow:hidden;}

.model-bottom{width:70px;bottom:50px;overflow:hidden;margin:0 auto;}
.model-width{width:150px;}
.infoNum span{display:inline-block;width:45%;text-align:center;}
em{font-style:normal;}
.letter{letter-spacing:5px}
.letters{letter-spacing:8px}
.lable-width{width: 130px; text-align: right}
.panel-data-table {min-width: 0px;}